* {
    margin: 0;
    box-sizing: border-box;
}

html, body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    box-shadow: 0 4px 2px -2px gray;
    height: 100px;
    background-color: #ff8000;
    display: flex;
    justify-content: start;
    flex-direction: row;
    
}

main{
    flex: 1;
    background-color: #f5f2ed;
    display: flex;
    justify-content: center;
    align-items: start;
    
}

footer{
    height: 100px;
    background-color: #f0ece6;
}