* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}
/*
html, body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header{
    box-shadow: 0 4px 2px -2px gray;
    height: 100px;
    background-color: #ff8000;
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    
}
/*
main{
    flex: 1;
    background-color: #f5f2ed;
    display: flex;
    justify-content: center;
    align-items: start;
    
}
*/

main{
    max-width: 1920px;
}
.content_wrapper{
    gap: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: black;
}

.content{
    width: calc(100% - 308px);
    padding: 16px;
    border: 2px solid blue;
}

.basket_wrapper{
    width: 300px;
    flex-grow: 1;
    border: 2px solid red;
    padding: 16px;
}

#test_content{
    padding: 32px;
    font-size: 48px;
    width: 100%;
    background-color: #fdfdfb;
}
.basket{
    width: 100%;
    height: 400px;
    background-color: #fdfdfb;
    position: sticky;
    top: 0;


}
footer{
    height: 100px;
    background-color: #f0ece6;
    width: 100%;
}
#warenkorb{
    display: none;
}

.warenkorb-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    border-radius: 50%;
    border: 1px solid black;
    height: 25px;
    width: 25px;
}
.btn:hover{
    background-color: #ff8000;
}

@media (max-width:800px) {
    .basket_wrapper{
        display: none;
    }
    .content {
    width: 100%;
    }

    #warenkorb{
    display: block;
    background-color: #ff8000;
    color: wheat;
}
#test_content {
    padding: 8px;
}
}
